@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    font-size: 1.2rem;
    color: #1a1d24;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
#header {
    max-height: 100%;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#header h2 {
    font-size: 3rem;
    margin: 2rem 0;
    color: #ee1414;
}

#header p {
    font-size: 1.5rem;
} 

#home-btn,
#menu-btn,
#contact-btn {
    font-size: 1.5rem;
    padding: 4px 16px;
    border: none;
    color: #1a1d24;
    background-color: #fff;
}

#home-btn:hover,
#menu-btn:hover,
#contact-btn:hover {
    color: #ee1414;
    text-decoration: underline;
}

/* HOME SECTON */
#homeSection {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ABOUT US */
#aboutUs {
    text-align: center;
    max-width: 768px;
    margin: 2rem auto;
}

#aboutUs h3 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #ee1414;
}

/* GALLERY */
#gallery {
    max-width: 1024px;
    margin: 2rem auto;
    text-align: center;
}

#gallery h3 {
    font-size: 2rem;
    color: #ee1414;
    font-family: 'Lobster', cursive;
}

.photo {
    width: 250px;
    height: 250px;
    margin: .6rem;
    object-fit: cover;
    cursor: pointer;
}

.photo:hover {
    transform: scale(1.1);
    box-shadow: 2px 4px 12px 2px #1a1d24;
}

/* MENU */
#menuHeading {
    font-size: 2.5rem;
    font-family: Lobster, cursive;
    text-align: center;
    color: #ee1414;
}

#menuElements {
    margin: 0 auto;
    text-align: center;
    font-family: Lobster, cursive;
    font-size: 1.5rem;
}

/* CONTACT */
#contactSection {
    font-family: Lobster, cursive;
    text-align: center;
    margin-bottom: 3rem;
}

#contactHeading {
    color: #ee1414;
}

/* FOOTER */
#footer {
    padding: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    text-align: center;
}

#footer a { 
    font-size: 1.2rem;
    color: #1a1d24;
    text-decoration: none;
}

#footer a:hover {
    color: #ee1414;
    text-decoration: underline;
}