body {
    margin: 0;
    padding: 0;
}

/* Main header */
#header {
    max-width: 100%;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1a1d24;
    font-size: 46px;
    font-style: italic;
    text-align: center;
}

#header h2 {
    margin: 0;
    color: #f1d37e;
}

#pageButton1,
#pageButton2,
#pageButton3 {
    font-size: 24px;
    margin: 8px;
    padding: 4px 16px;
    border: none;
    color: #fff;
    background-color: #1a1d24;
}

#pageButton1:hover,
#pageButton2:hover,
#pageButton3:hover {
    color: #f1d37e;
}

/* Main footer */
#footer {
    max-width: 100%;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1a1d24;
    font-style: italic;
    text-align: center;
    display: flex;   
    justify-content: center;
}

#footer p { 
    font-size: 18px;
}